@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.header {
  background-color: gray;
}

.footer {
  height: 100px;
}

.main {
  margin: 20px 0;
}

.nav-item {
  margin: 10px;
}